$main-color: rgba(0,114,227,1);
$background-color: #dcf1fa;
$distance-between-items: 10px;
$menu-padding:40px;

@use 'switch' as sw;

@include sw.configure(
    $background-color-deactivated: #ccc,
    $slider-color: #fff,
    $slider-color-activated: $main-color,
    $background-color-activated: $background-color 
);
@include sw.styles;

@mixin translateMiddle($extraTransformation: '') {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%) unquote($extraTransformation); /* IE 9 */
    -webkit-transform: translate(-50%, -50%) unquote($extraTransformation); /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%) unquote($extraTransformation);
}

@mixin transform($Transformation) {
    -ms-transform: $Transformation; /* IE 9 */
    -webkit-transform: $Transformation; /* Chrome, Safari, Opera */
    transform: $Transformation;
}

@mixin transition($transition) {
    -ms-transition: $transition; /* IE 9 */
    -webkit-transition: $transition; /* Chrome, Safari, Opera */
    transition: $transition;
}

@mixin flex-center-cols{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

body, *{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

#ThreedObjectsCanvas {
    z-index: 2;
    position: absolute;
}

#screen-container{
    position: relative;
    width: fit-content;
    width: 95%;
    height: 95%;
}

@media screen and (min-width:800px) {
    #screen-container{
        position: relative;
        width: fit-content;
        width: 80%;
        height: 80%;
    }
}

#gameScreen { 
    width: 100%; 
    height: 100%;
    z-index: 2;
    position: absolute;
    background-color: $background-color;
}

#game-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
    pointer-events: none;
    opacity:0;
    @include transition(opacity 1s);
    background-color: rgba(0, 0, 0, 0.2);
}

$menu-item-background: #fff;
$menu-item-color: #000;

#game-menu, #tutorial{
    position: absolute;
    z-index: 7;
    @include translateMiddle;
    @include flex-center-cols;
    @include transition(opacity 0.5s);
    opacity: 0;
    display: none;
    width:80%;
    max-width: 350px;
    min-height: 60%;
    max-height: 80%;
    padding: 10px $menu-padding;
    background-color: rgba(0,114,227,0.8);
    border-radius: 10px;
    justify-content: space-evenly;
    text-align: center;
    color: $menu-item-background;

    $min-width:150px; 

    .menu-title{
        color: $menu-item-background;
        min-width: $min-width;   
    }

    a{
        padding: $distance-between-items 20px;
        margin: $distance-between-items 0;
        background-color: $menu-item-background;
        border-radius: 50px;
        text-decoration: none;
        color: $menu-item-color;
        min-width: $min-width;
        text-align: center
    }

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: $min-width;   
        color: $menu-item-background
    }

    #tutorial-back{
        position: absolute;
        top:40px;
        left:40px;
        cursor: pointer;
    }


}

#game-menu-bar{
    $width: 90%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    display: none;
    z-index: 5;
    opacity: 0;
    left: calc((100% - $width) / 2);
    top: 5%;
    width: $width;
    background-color: rgba(0, 113, 227, 0.287);

    border-radius: 50px;
    padding:5px 20px;

    button{
        position: relative;
        border-radius: 50px;
        border:2px solid $menu-item-color;
        padding: 2px;
        background-color: $menu-item-background;
        cursor: pointer;
    }
    $button-size: 22px;

    .play-pause {
        box-sizing: border-box;
        width: $button-size;
        height: $button-size;
        position: relative;
        
        &__pause {
          &:before, &:after {
            display: block;
            width: 15%;
            content: "";
            background-color: black;
            height: 80%;
            position: absolute;
          }
          
          &:before {
            left: 25%;
            top: 10%;
          }
          
          &:after {
            right: 25%;
            top: 10%;
          }
        }
    }
        
    // Single
    .reloadSingle {
        // height: 2em;
        padding: .25em;
        // width: 2em;
        &:before, &:after {
        content: '';
        display: block;
        }
        &:before {
        border-color: transparent $menu-item-color $menu-item-color $menu-item-color;
        border-radius: 50%;
        border-style: solid;
        border-width: .20em;
        height: 0.8em;
        width: 0.8em;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        }
        &:after {
        border-color: transparent transparent transparent $menu-item-color;
        border-style: solid;
        border-width: .30em 0 .30em .45em;
        height: 0;
        position: absolute;
        top: 12%;
        left: 49%;
        width: 0;
        }
    }

    #timer{
        color:$menu-item-color;
    }
}


#game-countdown{
    position: absolute;
    @include translateMiddle;
    z-index: 5;
    opacity: 0;
    @include transition(all 0.2s);
    font-size: 42;
    text-transform: capitalize;
}

.crossmark {
    @include translateMiddle;
    position: absolute;
    @include transition(transform .4s ease-in-out);
    background: #fff;
    width: 22px;
    height: 22px;
    z-index: 1;
    border-radius: 50%;
}

.crossmark1{
    position: absolute;
    @include translateMiddle(rotate(45deg));
    width:3px;
    height:12px;
    background-color:rgb(171 2 3 / 97%);
}

.crossmark2{
    position: absolute;
    @include translateMiddle(rotate(-45deg));
    width:3px;
    height:12px;
    background-color:rgb(171 2 3 / 97%);
}

.checkmark {
    position: absolute;
    @include translateMiddle(rotate(45deg));
    @include transition(transform .4s ease-in-out);
    display: block;
    z-index: 1;
    width: 22px;
    height:22px;
    border-radius: 50%;
    background-color: #fff;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:$main-color;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:$main-color;
    left:8px;
    top:12px;
}

.grow-checkmark { 
    @include transform(scale(5) translate(-10%, -10%) rotate(45deg));
}

.grow-crossmark { 
    @include transform(scale(5) translate(-10%, -10%));
}

#myProgress {
    position: absolute;
    @include translateMiddle();
    width: 80%;
    background-color: #fff;
    z-index: 3;
    border-radius: 5px;
    @include transition(opacity 1s);

}

#myBar {
    width: 10%;
    height: 30px;
    background-color: $main-color;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}